<%- include('../header'); -%>
<%- include('../components/profile_header',{
    self_user
  }); -%>
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <aside class="sidebar static">
                    </aside>
                </div>
                <div class="col-lg-6">

                    <%- include('../components/profile_chat_section',{
                        self_user,
                        users
                      }); -%>


                </div><!-- centerl meta -->
                <div class="col-lg-3">
                    <aside class="sidebar static">
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../footer'); -%>